* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  transition: all 0.3s;
}

body {
  background: #1c1c1c;
  color: #fff;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.container h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.container p {
  margin-bottom: 0.25rem;
  color: #d5d5d5;
  width: 100%;
}

.stack {
  font-size: 1rem;
  margin-top: 1.5rem !important;
  text-align: center;
}

.description {
  font-size: 1.1rem;
  text-align: left;
}

.title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
}

.title:hover {
  scale: 1.075;
}

.website-link {
  padding: 0.5rem;
  animation: blink 2s linear infinite;
  width: 8rem;
}

.website-link:hover {
  scale: 1.075;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.project-list {
  text-align: left;
  max-width: 600px;
  margin: auto;
  max-height: 350px;
  overflow-y: scroll;
  padding: 0 0.75rem 0 0.75rem;
}

.project-item {
  background: #222;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.project-item:hover {
  background: #494949;
  transition: all 0.3s;
  box-shadow: 0 0 5px 5px #494949;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
}

.project-item .github-link {
  color: #1effbb;
  font-weight: bold;
}

.project-item .github-link:hover {
  color: #48fbe9;
}

.project-item .website-link {
  color: #18bc8a;
}

.project-item .website-link:hover {
  color: #48fbe9;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 8px;
  transition: 0.3s;
  width: 20%;
  height: 2rem;
  color: black !important;
  animation: blink-background 2s infinite;
}

.btn:hover {
  background: #48fbe9;
  box-shadow: 0 0 2px 2px #48fbe9;
}

.link {
  background: #1effbb;
  color: #fff;
}

.link:hover {
  background: #48fbe9;
}

footer {
  margin-top: 50px;
  font-size: 0.9rem;
  color: #777;
}

@keyframes blink  {
  0% { color: #18bc8a;}
  50% { color: #18bcbc;}
  100% { color: #18bc8a;}
}

@keyframes blink-background {
  0% {
    background: linear-gradient(90deg, #18bcbc, #18bc8a);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  50% {
    background: linear-gradient(90deg, #18bcbc, #18bc8a);
    background-size: 200% 100%;
    background-position: 0 0;
  }
  100% {
    background: linear-gradient(90deg, #18bcbc, #18bc8a);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
}
