//@import "{{ site.theme }}";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #121212;
  color: #fff;
  text-align: center;
  padding: 50px;

  .container {
    max-width: 800px;
    margin: auto;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 10px;
      color: #bbb;
      width: 100%;
      text-align: center;
    }

    .project-list {
      //margin-top: 30px;
      text-align: left;
      max-width: 600px;
      margin: auto;
      max-height: 400px;
      overflow-y: scroll;

      .project-item {
        background: #222;
        padding: 15px;
        margin: 10px 0;
        border-radius: 8px;

        &:hover {
          background: #5a5a5a;
          transition: all 0.3s;,
          box-shadow: 0 0 5px 5px #5a5a5a;
        }

        a {
          color: #1effbb;
          font-size: 1.1rem;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            color: rgba(30, 255, 187, 0.7);
          }
        }
      }
    }
  }


  .btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 8px;
    transition: 0.3s;
    max-width: 40%;
    height: 1.5rem;
  }


  .link {
    background: #1effbb;
    color: #fff;

    &:hover {
      background: rgba(30, 255, 187, 0.7);
    }
  }

  footer {
    margin-top: 50px;
    font-size: 0.9rem;
    color: #777;
  }

}
