* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  transition: all 0.3s;
}

body {
  background: #1c1c1c;
  color: #fff;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.container h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.container p {
  margin-bottom: 0.25rem;
  color: #d5d5d5;
  width: 100%;
}

.stack {
  font-size: 1rem;
  margin-top: 1.5rem !important;
  text-align: center;
}

.description {
  font-size: 1.1rem;
  text-align: left;
}

.title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
}

.title:hover {
  scale: 1.075;
}

.website-link {
  padding: 0.5rem;
  animation: blink 2s linear infinite;
  width: 8rem;
}

.website-link:hover {
  scale: 1.075;
  font-weight: 500;
  letter-spacing: 0.05rem;
}


/*.website-link::after {*/
/*  content: attr(data-tooltip);*/
/*  position: absolute;*/
/*  bottom: 100%;*/
/*  left: 50%;*/
/*  transform: translateX(-50%);*/
/*  padding: 8px;*/
/*  background-color: #333;*/
/*  color: white;*/
/*  border-radius: 5px;*/
/*  font-size: 14px;*/
/*  opacity: 0;*/
/*  visibility: hidden;*/
/*  transition: opacity 0.3s, visibility 0.3s;*/
/*  white-space: nowrap;*/
/*  overflow: visible;*/
/*}*/

/*.website-link:hover::after {*/
/*  opacity: 1;*/
/*  visibility: visible;*/
/*}*/

.project-list {
  text-align: left;
  max-width: 600px;
  margin: auto;
  max-height: 300px;
  overflow-y: scroll;
  padding: 0.75rem;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth; /* Optional: Smooth scrolling */

}

.project-item {
  background: #222;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  scroll-snap-align: center; /* Align each item at the start of the container when snapped */
}

.project-item:hover {
  background: #494949;
  transition: all 0.3s;
  box-shadow: 0 0 5px 5px #494949;
  scale: 1.01;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
}

.project-item .github-link {
  color: #1effbb;
  font-weight: bold;
}

.project-item .github-link:hover {
  color: #48fbe9;
}

.project-item .website-link {
  color: #18bc8a;
}

.project-item .website-link:hover {
  color: #48fbe9;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 8px;
  transition: 0.3s;
  width: 20%;
  height: 2rem;
  color: black !important;
  animation: blink-background 2s infinite;
}

.btn:hover {
  background: #48fbe9;
  box-shadow: 0 0 2px 2px #48fbe9;
}

.link {
  background: #1effbb;
  color: #fff;
}

.link:hover {
  background: #48fbe9;
}

.empty-item {
  height: 100px;
}

footer {
  margin-top: 50px;
  font-size: 0.9rem;
  color: #777;
}

@keyframes blink  {
  0% { color: #18bc8a;}
  50% { color: #18bcbc;}
  100% { color: #18bc8a;}
}

@keyframes blink-background {
  0% {
    background: linear-gradient(90deg, #18bcbc, #18bc8a);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  50% {
    background: linear-gradient(90deg, #18bcbc, #18bc8a);
    background-size: 200% 100%;
    background-position: 0 0;
  }
  100% {
    background: linear-gradient(90deg, #18bcbc, #18bc8a);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
}


/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Stay on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.modal-content {
  background-color: #1c1c1c;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  min-width: 300px;
  max-width: 500px;
  color: #d5d5d5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  padding: 10px 20px;
  margin: 25px 25px 0px 25px;
  cursor: pointer;
}

#proceedButton {
  background-color: #71ff71;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
}

#proceedButton:hover {
  background-color: #4eff4e;
}

#cancelButton {
  background-color: #ff7171;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
}

#cancelButton:hover {
  background-color: #ff5353;
}