* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  transition: all 0.3s;
}

body {
  background: hsla(0, 0%, 5%, 1);
  color: #fff;
  text-align: center;
  padding: 35px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 1;
  color: hsla(0, 0%, 95%, 1);

  @starting-style {
    opacity: 0;
    translate: 0 -500px;
  }
}

.social-media-container {
  position: absolute;
  right: 10px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.fa-brands {
  font-size: 2rem;
  padding: 5px;
  margin-right: 0.3rem;
  color: transparent;
  background-image: linear-gradient(90deg, #18bcbc, #ff4242, #18bcbc);
  background-size: 500% 100%;
  background-clip: text;
  -webkit-background-clip: text; /* For Safari support */
  animation: blink-background 2s linear infinite;
}

.fa-brands:hover {
  scale: 0.9;
}

.flag {
  margin: 0;
  height: fit-content;
}

.container {
  max-width: 800px;
  margin: auto;
  height: 100%;
  overflow: hidden;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

.container h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: white;
}

.container p {
  margin-bottom: 0.25rem;
  color: #d5d5d5;
  width: 100%;
}

.stack {
  font-size: 1rem;
  margin-top: 1.5rem !important;
  text-align: center;
}

.description {
  font-size: 1.1rem;
  text-align: left;
}

.my-role {
  margin-top: 10px;
}

.title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.github-link {
  max-width: 100%;
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  flex-shrink: 1;
  cursor: pointer;
}

img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1;
  /*position: relative;*/
  /*transition: transform 0.3s ease;*/
  /*will-change: transform;*/
}

.title:hover {
  transform: scale(1.075)
}

.title > p{
  color: #1effbb;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title > p:hover {
  color: #48fbe9;
}


.title-wrapper {
  position: relative;
  --data-type: attr(data-type-en);
  max-width: 100%;
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  flex-shrink: 1;
}


.title-wrapper::after {
  content: var(--data-type);
  position: absolute;
  bottom: -3px;
  left: 55px;
  color: #fff;
  font-size: 0.8rem;
  transform: none; /* Ensure no inherited scale */
}

.title:hover::after {
  transform: scale(calc(1 / 1.075));
  transform-origin: top left;
}

.website-link {
  color: #18bcbc;
  padding: 0.5rem;
  /*animation: blink 2s linear infinite;*/
  width: 8rem;
}

.website-link > span {
  position: relative;
}

.website-link > span::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  transition: width 0.1s linear;
}

.website-link:hover > span::after {
  width: 100%;
}

.website-link:hover {
  /*scale: 1.075;*/
  /*font-weight: 500;*/
  /*letter-spacing: 0.05rem;*/
}

.project-list {
  text-align: left;
  max-width: 600px;
  margin: auto;
  height: 35%;
  overflow-y: scroll;
  padding: 0.75rem;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth; /* Optional: Smooth scrolling */
}

#featured {
  opacity: 1;
  transition: translate 0.5s ease;

  @starting-style {
    opacity: 0;
    translate: 120vw 0;
  }
}

.featured-heading {
  opacity: 1;
  transition: translate 0.5s ease;

  @starting-style {
    opacity: 0;
    translate: -120vw 0;
  }
}

#other {
  opacity: 1;
  transition: translate 0.5s ease;

  @starting-style {
    opacity: 0;
    translate: -120vw 0;
  }
}

.other-heading {
  opacity: 1;
  transition: translate 0.5s ease;

  @starting-style {
    opacity: 0;
    translate: 120vw 0;
  }
}

.project-item {
  background: hsla(0, 0%, 15%, 1);;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  scroll-snap-align: center; /* Align each item at the start of the container when snapped */
}

.project-item:hover {
  background: #494949;
  transition: all 0.3s;
  box-shadow: 0 0 5px 5px #494949;
  scale: 1.01;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 8px;
  transition: 0.3s;
  width: 20%;
  height: 2rem;
  color: black !important;
  /*animation: blink-background 2s infinite;*/
}

.btn:hover {
  background: #48fbe9;
  box-shadow: 0 0 2px 2px #48fbe9;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .button-text {
    display: none;
  }
}

.link {
  background: #1effbb;
  color: #fff;
}

.link:hover {
  background: #48fbe9;
}

.empty-item {
  height: 100px;
}

footer {
  /*margin-top: 50px;*/
  /*padding-bottom: 50px;*/
  font-size: 0.9rem;
  color: #777;
}


/* animations /*/
@keyframes blink  {
  0% { color: #18bc8a;}
  25% { color: #18bcbc;}
  50% { color: #18bcbc;}
  75% { color: #18bcbc;}
  100% { color: #18bc8a;}
}

/*@keyframes blink-background {*/
/*  0% {*/
/*    background-image: linear-gradient(90deg, #18bcbc, #ff4242);*/
/*    background-size: 200% 100%;*/
/*    background-position: 100% 0;*/
/*  }*/
/*  50% {*/
/*    background-image: linear-gradient(90deg, #18bcbc, #ff4242);*/
/*    background-size: 200% 100%;*/
/*    background-position: 0 0;*/
/*  }*/
/*  100% {*/
/*    background-image: linear-gradient(90deg, #18bcbc, #ff4242);*/
/*    background-size: 200% 100%;*/
/*    background-position: 100% 0;*/
/*  }*/
/*}*/

@keyframes blink-background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Stay on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.modal-content {
  background-color: #1c1c1c;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  min-width: 300px;
  max-width: 500px;
  color: #d5d5d5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  cursor: pointer;
}

#proceedButton {
  padding: 10px 20px;
  /*margin: 25px 25px 0px 25px;*/
  /*margin-right: auto;*/
  background-color: #71ff71;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
}

#proceedButton:hover {
  background-color: #4eff4e;
}

#cancelButton {
  padding: 10px 20px;
  /*margin: 25px 25px 0px 25px;*/
  /*margin-left: auto;*/
  background-color: #ff7171;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
}

#cancelButton:hover {
  background-color: #ff5353;
}

.project-list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.project-list::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgba(0, 0, 0, .3);
}

#switch-lang {
  position: absolute;
  left: 10px;
  bottom: 0;
  background: none !important;
  border: none !important;
  width: 40px;
  height: 40px;
  margin: 0 !important;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#switch-lang:hover > img {
  scale: 0.90;
}

@media only screen and (max-width: 600px) {
  .container h1 {
    max-width: 300px;
    font-size: 2rem;
  }
  .header-text p {
    font-size: 0.9rem;
  }
  .title-row {
    margin-bottom: 0.5rem;
  }
  .social-media-container {
    justify-content: flex-end;
    gap: 10px;
  }
  .title-row {
    flex-direction: column;
  }

  .github-link {
    align-self: flex-start;
  }

  .website-link {
    align-self: flex-end;
    padding: 0.2rem;
    width: fit-content;
  }
}

@media only screen and (max-width: 440px) {
  header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
  }
  .container h1 {
    width: 300px;
    font-size: 1.75rem;
  }
  .social-media-container {
    position: static;
    flex-direction: row;
  }
  #switch-lang {
    bottom: 0;
  }

  .flag {
    width: 2rem;
    height: 2rem;
  }

  .description {
    font-size: 1rem;
  }

}
