<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title lang='ee'>Andre's Portfolio</title>
    <title lang='en'>Andre Portfoolio</title>
<!--    <script type="text/javascript" src="../assets/js/scripts.js" defer ></script>-->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>

<!-- Modal HTML -->
<div id="loadingModal" class="modal">
    <div class="modal-content">
        <p class='modal-text' lang='en'>This site may take 20-30 seconds to load.
            <br> Thank you for your patience!</p>
        <p class='modal-text' lang='ee' hidden>See veebileht võib võtta laadimiseks 20-30 sekundit.
            <br> Tänan teid kannatlikkuse eest!</p>
        <button id="proceedButton">
            <span lang='en'>Proceed</span>
            <span lang='ee' hidden>Jätka</span>
        </button>
        <button id="cancelButton">
            <span lang='en'>Cancel</span>
            <span lang='ee' hidden>Loobu</span>
        </button>
    </div>
</div>

<!-- main container -->
<div class="container">

        <header>
            <div class='header-text'>
                <h1 lang='en'>Hey! I'm Andre</h1>
                <p lang='en'>Welcome to my portfolio!</p>

                <h1 lang='ee' hidden>Hei! Mina olen Andre</h1>
                <p lang='ee' hidden>Tere tulemast minu portfooliosse!</p>
            </div>
            <div class='social-media-container'>
                <a href="https://github.com/andreberezin?tab=repositories" class="media-link" target="_blank" title='Github'>
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/andreberezin" class="media-link" target="_blank" title='LinkedIn'>
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>
            <button id="switch-lang">
                <img src='../assets/icons/english.png' alt='Change language' class='flag' lang='en'/>
                <img src='../assets/icons/estonian.png' alt='Change language' class='flag' lang='ee' hidden/>
            </button>

        </header>

    <!-- Featured Projects Section -->
    <h2 lang='en'>Featured Projects</h2>
    <h2 lang='ee' hidden>Põhiprojektid</h2>

    <div class="project-list featured first">
        <div class="project-item">
            <div class='title-row'>
                <a href='https://github.com/andreberezin/match-me' class='github-link' target="_blank" title='Github repository'>
                    <div class='title'>
                        <img src='../assets/icons/match-me-icon.svg' alt='Jammer' class='icon jammer'/>
                        <p lang='en'>Match-Me (Ongoing)</p>
                        <p lang='ee' hidden>Match-Me (Pooleliolev)</p>
                    </div>
                </a>
                <a href='https://match-me-frontend.onrender.com' target="_blank" class='website-link' title='Live website'>
                    <span lang='en'>Try it out!</span>
                    <span lang='ee' hidden>Katseta!</span>
                </a>
            </div>
            <p class='description' lang='en'>Jammer connects musicians based on their mutual interests and characteristics. This project is not finished yet. </p>
            <p class='description' lang='ee' hidden>Jammer ühendab muusikuid vastavalt ühistele huvidele ja omadustele. Projekt ei ole veel lõpetatud. </p>
            <p class='stack'> Figma | Javascript | Java | React | PostgreSQL | Spring | Spring Security | Socket.io | Cloudinary </p>
        </div>
        <div class="project-item">
            <div class='title-row'>
                <a href='https://github.com/andreberezin/racetrack' class='github-link' target="_blank" title='Github repository'>
                    <div class='title'>
                        <img src='../assets/icons/f1-icon.png' alt='Racetrack' class='icon'/>
                        <p lang='en'>Racetrack - Real-Time Racing System</p>
                        <p lang='ee' hidden>Racetrack - Reaalajas võidusõidusüsteem</p>
                    </div>
                </a>
                <a href='https://racetrack-ns5c.onrender.com' target="_blank" class='website-link' title='Live website'>
                    <span lang='en'>Try it out!</span>
                    <span lang='ee' hidden>Katseta!</span>
                </a>
            </div>
            <p class='description' lang='en'>A real-time system for car races. Features creating, starting, controlling and spectating races live.</p>
            <p class='description' lang='ee' hidden>Veebileht, mis võimaldab reaalajas hallata võidusõite. Võimaldab võidusõitude loomist, alustamist, kontrollimsit ning jälgimist vastavalt rollile.</p>
            <p class='stack'>Javascript | Node.js | React | Mongodb | Ngrok | Socket.io  </p>
        </div>

        <div class='empty-item'></div>
    </div>

    <!-- Other Projects Section -->
    <h2 lang='en'>Other Projects</h2>
    <h2 lang='ee' hidden>Teised projektid</h2>

    <div class="project-list other">

        <div class="project-item">
            <div class='title-row'>
                <a href='https://github.com/andreberezin/movie-api' class='github-link' target="_blank" title='Github repository'>
                    <div class='title'>
                        <img src='../assets/icons/movie-icon.png' alt='Movie API' class='icon'/>
                        <p lang='en'>Movie API</p>
                        <p lang='ee' hidden>Filmide API</p>
                    </div>
                </a>
            </div>
            <p class='description' lang='en'>A Spring Boot movie database API which enables searching, filtering, adding and deleting movies including associated genres and actors. </p>
            <p class='description' lang='ee' hidden>Spring Boot filmide andmebaasi API, mis võimaldab filmide ning seotud žanrite ja näitlejate otsimist, lisamist, täiustamist ja kustutamist. </p>
            <p class='stack'>Java | Spring</p>
        </div>

        <div class="project-item">
            <div class='title-row'>
                <a href='https://github.com/andreberezin/itinerary-prettifier' class='github-link' target="_blank" title='Github repository'>
                    <div class='title'>
                        <img src='../assets/icons/airplane-icon.png' alt='Itinerary Prettifier' class='icon'/>
                        <p lang='en'>Itinerary Prettifier</p>
                        <p lang='ee' hidden>Reisiplaani vormindaja</p>
                    </div>
                </a>
            </div>
            <p class='description' lang='en'>A command-line tool that formats raw flight itinerary data into a more customer-friendly format.</p>
            <p class='description' lang='ee' hidden> <i>Command-line</i> tööriist, mis vormindab lendude andmed kasutajasõbralikku formaati.</p>
            <p class='stack'>Java</p>
        </div>

        <div class="project-item">
            <div class='title-row'>
                <a href='https://github.com/andreberezin/cypher' class='github-link' target="_blank" title='Github repository'>
                    <div class='title'>
                        <img src='../assets/icons/encrypt-icon.png' alt='Cypher Notes' class='icon'/>
                        <p lang='en'>Cypher Notes</p>
                        <p lang='ee' hidden>Märkmete krüpteerija</p>
                    </div>
                </a>
            </div>
            <p class='description' lang='en'>A secure note-taking app with encryption to protect sensitive information.</p>
            <p class='description' lang='ee' hidden>Turvaline märkmete tegemise rakendus, mis krüpteerib tundlikku informatsiooni.</p>
            <p class='stack'>Golang</p>
        </div>

        <div class="project-item">
            <div class='title-row'>
                <a href='https://github.com/andreberezin/notes' class='github-link' target="_blank" title='Github repository'>
                    <div class='title'>
                        <img src='../assets/icons/notes-icon.png' alt='Notes tool' class='icon'/>
                        <p lang='en'>Notes tool</p>
                        <p lang='ee' hidden>Märkmete haldaja</p>
                    </div>
                </a>
            </div>
            <p class='description' lang='en'>A minimalist text editor with markdown support and real-time saving.</p>
            <p class='description' lang='ee' hidden>Minimalistlik märkmete haldamise rakendus, mis lubab reaalajas märkmeid luua, salvestada, vaadata ja kustutada.</p>
            <p class='stack'>Golang</p>
        </div>

        <div class='empty-item'></div>
    </div>
</div>

<footer>
    <p>© 2025 Andre Berezin | andreberezin@outlook.com</p>
</footer>

</body>

<script type="text/javascript" src="../assets/js/scripts.js"></script>

</html>

<!--icons from https://icons8.com -->